<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="https://www.cdm.depaul.edu/academics/pages/courseinfo.aspx?crseId=011628">CSC436</a>
  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActive="activebutton" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flight" routerLinkActive="activebutton" href="#">Flight Price</a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
